body{
	padding-top: 1px;
}

#form_container{
	background-color:#DDD;
	padding:30px;
	width:300px;
	margin:0 auto;
	border: 1px solid darkgrey;
}

.span10{
	text-align: center;
}

.headings{
	background-color: ivory;
	padding:15px;
}

.contents{
	padding:15px;
}

#container{
	background-color: whitesmoke;
	width: 1366px;
	height: 651px;
}

#app_name{
	width: 200px;
	margin-left: 462px;
	margin-bottom: 50px;
	display: inline;
}

#logout_link{
	float:right;
	margin-right:20px;
}

h1{
	display:inline;
}

#app_icon{
	display:inline;
}

#places_container{
	width: 100%;
	height: 80%;
}

#map_container{	
	width: 1067px;
	height: 100%;
	float: left;
}

#sides_container{
		width: 254px;
	height: 97%;
	float: left;
	
	border: 1px solid darkgrey;
	background-color: #DDD;
	
}

#map_canvas{
	width: 90%;
	height: 97%;
	margin-left:40px;
	border: 1px solid darkgrey;
}

img{
	max-width:none;
}